.unit-wrap {
  position: relative;
  width: 600px;
  overflow: hidden;
  padding: 10px;
  margin: 28px auto;
}

.unit-wrap .unit-img {
  width: 200px;
  float: left;
}

.unit-img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.unit-wrap .unit-table {
  width: 400px;
  float: left;
}

table,table tr th, table tr td { border:1px solid #484848; }
table { width: 100%; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}
caption {font-size: 1.3em; color: #fa7601;}

tr.table-title {
  background-color: #F9B248;
}
